<header class="container-fluid bg-dark fixed-top">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark container-fluid" data-bs-theme="dark">

        <a class="navbar-brand ms-5" href="{% url 'my_site:index' %}">وبلاگ من</a>
        
        <!-- Dropdown -->
        <div class="dropdown vazir">
            <button class="btn link-light bg-transparent dropdown-toggle text-right" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                دسته بندی‌ها
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for category in categories %}
                    <a href="{% url 'my_site:filtered' category.id %}" class="dropdown-item text-center">{{ category.title }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- Dropdown -->

        <!-- Login and Signup -->
        <div class="w-100 text-start">
            <a href="{% url 'my_site:register' %}" type="button" class="btn btn-outline-light px-4">ثبت نام</a>
            <a href="{% url 'my_site:login' %}" type="button" class="btn btn-outline-light px-4 mx-2">ورود</a>
        </div>

    </nav>
    <!-- Navbar -->
</header>