{% extends 'base.html' %}

<!-- Title -->
{% block title %}پست‌های من{% endblock %}

<!-- Content -->
{% block content %}
    {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} w-75 mx-auto">
                    {{message}}
                </div>
            {% endfor %}
    {% endif %}
    <table class="table w-75 mx-auto rounded">

        <tr class="text-center">
            <th scope="col">تصویر</th>
            <th scope="col">عنوان</th>
            <th scope="col">دسته بندی</th>
            <th scope="col">تاریخ انتشار</th>
            <th scope="col">عملیات</th>
        </tr>

        {% for post in posts %}
        <tr class="text-center">
            <td style="width: 5%;"><img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid"></td>
            <td><a href="{% url 'my_site:detail-post' post.id %}" class="text-decoration-none text-dark">{{ post.title }}</a></td>
            <td>{{ post.category.title }}</td>
            <td>{{ post.created_at }}</td>
            <td>
                <a href="{% url 'my_site:delete-post' post.id %}" class="btn btn-danger">حذف</a>
                <a href="{% url 'my_site:comments-management' post.id %}" class="btn btn-success">نظرات</a>
                <a href="{% url 'my_site:update-post' post.id %}" class="btn btn-primary">ویرایش</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    
{% endblock %}
