<!-- Detail Page -->
<div class="text-light vazir row mx-3 my-4">

    <div class="col-8">

        <h1 class="text-light text-right titr fs-1 mb-4">عنوان</h1>

        <div class="row mb-4">
            <p class="col-2 lead text-light fs-6 ">نویسنده</p>
            <p class="col-2 text-light fs-6">دسته بندی</p>
            <p class="col-2 text-light fs-6">تاریخ انتشار:</p>
        </div>

        <p class="fs-2">متن</p>
        
    </div>

    <div class="col-4 text-center img-fluid">
        <img src="../media/images/default.png" class="w-100" alt="">
    </div>

</div>
