{% extends 'base.html' %}

<!-- Title -->
{% block title %}{{ post.title }}{% endblock %}

<!-- Content -->
{% block content %}

    <div class="text-light vazir row mx-3 my-4">

        <div class="col-8">

            <h1 class="text-light text-right titr fs-1 mb-4">{{ post.title }}</h1>

            <div class="row mb-4 d-flex align-items-center g-0">
                <div class="col-1 d-flex justify-content-center">
                    <img src="{{ post.writer.profile_picture }}" alt="{{ post.writer.username }}" class="rounded-circle img-fluid object-fit-contain" style="width: 40px; height: 40px;">
                </div>
                <div class="col-2 d-flex align-items-center ms-1">
                    <p class="lead text-light fs-6 mb-0">{{ post.writer.username }}</p>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <p class="text-light fs-6 mb-0">{{ post.category.title }}</p>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <p class="text-light fs-6 mb-0">{{ post.created_at }}</p>
                </div>
            </div>
            
            
            

            <p class="fs-4">{{ post.body }}</p>

        </div>

        <div class="col-4 text-center img-fluid">
            <img src="{{ post.image }}" class="w-100" alt="">
        </div>

    </div>

    <!-- Related Articles -->
    <p class="fs-2 text-center text-light">مطالب مشابه</p>

    <div class="row justify-content-start text-center me-5 pe-5">
        {% for related_post in related_posts %}

            <div class="col-lg-2 col-sm-4 col-md-3 card m-2" style="height: 350px;">

                <img src="{{ related_post.image }}" class="card-img-top img-fluid mt-2 h-50 object-fit-contain" alt="{{ related_post.title }}">

                <div class="card-body text-center">
                    <h5 class="card-title titr fs-4 mb-3">{{ related_post.title }}</h5>

                    <div class="row">
                        <p class="card-subtitle mb-2 text-body-secondary fw-lighter col">{{ related_post.category.title }}</p>
                        <p class="text-body-secondary fw-lighter col">{{ related_post.created_at }}</p>
                    </div>

                    <a href="{% url 'my_site:detail-post' related_post.id %}" type="button" class="btn btn-outline-dark w-75">مطالعه</a>

                </div>

            </div> 

        {% endfor %}    
    </div>
    
    <div class="bg-light m-4 p-3 rounded">

        <!-- Comments To Show -->
        <p class="fs-3">نظرات ({{ related_comments_count }})</p>
        {% csrf_token %}

        {% if related_comments %}
            <div class="">   
                    {% for comment in related_comments %}
                        <hr>
                            <div class="row mb-4 d-flex align-items-center g-0 w-50">
                                <div class="col-1 d-flex justify-content-center">
                                    <img src="{{ comment.user.profile_picture }}" alt="{{ comment.user.username }}" class="rounded-circle img-fluid object-fit-contain" style="width: 40px; height: 40px;">
                                </div>
                                <div class="col-2 d-flex align-items-center ms-1">
                                    <p class="lead fs-6 mb-0">{{ comment.user.username }}</p>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <p class="fs-6 mb-0">{{ comment.posted_at }}</p>
                                </div>
                            </div>
                        <div class="pe-3">{{ comment.message }}</div>
                    {% endfor %}
            </div>
        {% else %}
            <hr>
            اولین نفر باشید که نظر ثبت می‌کنید.
        {% endif %}

        <hr>
        
        <!-- Messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    
        <!-- Submit comment -->
        {% include 'comment_form.html' %}
        
    </div>

{% endblock %}
